<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'styles/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script> -->



    <title>Download from Instagram</title>

</head>

<body class="">
    <header>
        <section class="navigation">
            <div class="nav-container">
                <div class="brand">
                    <a href="#!">Logo</a>
                </div>
                <nav>
                    <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
                    <ul class="nav-list">
                        <li>
                            <a href="#main">Home</a>
                        </li>
                        <li>
                            <a href="">About</a>
                        </li>

                        <li>
                            <a href="https://unfollowersinstagram.com/" target="_blank">Unfollowers</a>
                        </li>

                        <li>
                            <a href="#!">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>

    </header>
    <main class="nav-container">
        <div id="select-box">
            <!-- <form method="post">
                <label for="username">Username</label>
                <input type="text" name="username">
                <label for="password">Password</label>
                <input type="password" name="password">

                <input type="submit" value="Click">

            </form> -->

            <div id="instructions">
                <h2>Instructions</h2>
                <p>select user</p>
                <p>select the item to be downloaded</p>
                <p>User must have a public account</p>
            </div>
            <form action="" method="post" class="row">
                <label for="username">Select the Username</label>
                <input type="text" name="username" placeholder="username" class="col-xs-12">

                <!-- <input type="password" name="password" placeholder="password"> -->
                <select name="opt" id="hash" class="col-xm-12">
                    <option value="profile">Profile Image</option>
                    <option value="stories">Stories</option>
                    <option value="reels">Reels</option>
                    <option value="hashtag">Hashtag Related Images</option>
                    <option value="highlights">highlights</option>
                    <option value="post" >post</option>
                    <option value="pictures">pictures</option>
                    <option value="igtv">igtv</option>
                    <option value="test">test</option>
                </select>
                <input type="text" id="extra" name="extra" placeholder="hashtag" class="col-xs-12">

                <input type="text" id="amount" name="amount" placeholder="how many post?" class="col-xs-12">
                <input type="submit" value="Download" onclick="hu()">

            </form>


            {{name}}
        </div>
    </main>
    <footer>

    </footer>

    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>

</html>