@charset "UTF-8";
nav {
  float: right;
}
nav #nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
nav #nav-toggle span,
nav #nav-toggle span:before,
nav #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
nav #nav-toggle span:before {
  top: -10px;
}
nav #nav-toggle span:after {
  bottom: -10px;
}
nav #nav-toggle.active span {
  background-color: transparent;
}
nav #nav-toggle.active span:before, nav #nav-toggle.active span:after {
  top: 0;
}
nav #nav-toggle.active span:before {
  transform: rotate(45deg);
}
nav #nav-toggle.active span:after {
  transform: rotate(-45deg);
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #262626;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #2581dc;
  color: #ffffff;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-mobile {
  display: none;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    background: #262626;
    height: 70px;
    width: 70px;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
/* Outer navigation wrapper */
.navigation {
  height: 70px;
  background: #262626;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}
.nav-container .brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.nav-container .brand a,
.nav-container .brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

main #select-box {
  display: block;
  margin: auto;
}
main #select-box #instructions {
  background-color: hsla(210, 85%, 78%, 0.455);
  margin-top: 20px;
  padding: 10px;
}
main #select-box #instructions h2 {
  text-align: center;
}
main #select-box .formblock {
  margin: auto;
  text-align: center;
  display: block;
}
main #select-box .formblock #hash {
  margin-bottom: 30px;
}
main #select-box .formblock div {
  padding-top: 50px;
  margin: auto;
  display: none;
  max-width: 30vw;
  min-width: 250px;
  min-height: 30vh;
}
main #select-box .formblock #blank {
  background-color: #ffffff;
  padding-top: 50px;
  margin: auto;
  display: block;
  max-width: 30vw;
  min-width: 250px;
  min-height: 30vh;
  border: 1px solid black;
}
main #select-box .formblock #profile {
  background-color: pink;
}
main #select-box .formblock #stories {
  background-color: gold;
}
main #select-box .formblock #reels {
  background-color: greenyellow;
}
main #select-box .formblock #hashtag {
  background-color: burlywood;
}
main #select-box .formblock #highlights {
  background-color: red;
}
main #select-box .formblock #post {
  background-color: bisque;
}
main #select-box .formblock #pictures {
  background-color: aquamarine;
}
main #select-box .formblock #igtv {
  background-color: grey;
}
main #select-box .formblock #test {
  background-color: azure;
}

footer {
  background-color: #2581dc;
  display: flex;
  align-items: end;
}
footer .footer-basic {
  padding: 10px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}
footer .footer-basic {
  padding: 18px 0;
}
footer .footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}
footer .footer-basic li {
  padding: 0 10px;
}
footer .footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}
footer .footer-basic ul a:hover {
  opacity: 1;
}
footer .footer-basic .social {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 25px;
}
footer .footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}
footer .footer-basic .social > a:hover {
  opacity: 0.9;
}
footer .footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}/*# sourceMappingURL=style.css.map */